html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
} 

@import "../sass/utils/variables";
@import "../sass/utils/mixins";
@import "../sass/utils/media"; 
@import "../sass/utils/loop";
@import "../sass/utils/keyframes";

@font-face {
  font-family: "Shrikhand";
  src: url("../Police/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../Police/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../Police/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../Police/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../public/Police/Roboto-Bold.ttf");
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

// LOADER

.loader {
  @include loading;  
}

// HEADER

.box_title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  height: 70px;

  border-bottom: 1px solid #c4bcbc;
  h1 {
    font-family: $font-family1;
    height: 40px;
    font-size: 30px;
  }
}

// PLACE SEARCH BOX

.search_box {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eaeaea;

  width: 100%;
  height: 45px;
  .search_box__icon {
    margin-right: 10px;
  }
  .search_box__place_search {
    width: 125px;

    font-size: 16px;
    font-weight: 900;
    background-color: #eaeaea;

    border: transparent;
    outline: none;
  }
}

// TITLE + BTN EXPLORER

.title_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: rgb(246, 246, 246);

  padding-top: 40px;
  padding-bottom: 50px;
  .title_label__1 {
    font-size: 22px;
    font-family: $font-family3;
    margin-bottom: 5px;

    padding-left: 60px;
    padding-right: 60px;
    @media #{$media-up} {
      font-size: 26px;
    }
  }
  .title_label__2 {
    font-family: $font-family4;
    font-weight: lighter;
    font-size: 16px;

    padding-left: 28px;
    padding-right: 28px;
    margin-top: 10px;
    @media #{$media-up} {
      font-size: 20px;
    }
  }
}

.title_label__button_explorer {
  margin-top: 30px;
  @include button_explorer
}

h2 {
  @include h2;
}

// NAVIGATION

.nav {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    padding-right: 25px;

    margin-bottom: 20px;

    width: 100%;
    height: 70%;
  }
}

.form_button {
  @include form_button(
    $width: 82%,
    $bgc: rgb(246, 246, 246),
    $br: $border-radius1,
    $bs: $box-shadow
  );

  .form_button__number {
    font-size: 14px;

    background-color: $color-primary;
    color: white;

    border-radius: 75%;

    padding: 5px 9px;
    margin-left: -40px;
    margin-right: 15px;
  }

  .form_button__logo {
    display: flex;
    align-items: center;

    padding-left: 20px;
    i {
      color: gray;
    }
  }

  .form_button__label {
    display: flex;
    align-items: center;

    font-size: 15px;
    font-weight: 800;

    padding-left: 20px;
  }
  @media #{$media-down} {
    display: flex;
    height: 70%;
  }
}

// BOX RESTAURANTS

.box {
  background-color: rgb(246, 246, 246);
  padding-top: 10px;
}

.box__restaurants {
  @media #{$media-up} {
    display: flex;
    flex-direction: row;
  }
  .box__title {
    @include h2;
  }
}

.line_1,
.line_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$media-up} {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.btn_image {
  @include btn_image( $width: 85%, $height: 240px, $br: $border-radius1, $bs: $box-shadow);
  @include btn_image__star;

}

// FOOTER

.footer {
  @include footer;
}