/*mixin Logo*/
@mixin logo
{
    font-family: $logo-font;
    font-size: 1em;
    line-height: 70px;
    height: 70px;
    text-align: center;
    width: 100%;
}
/*mixin Réservez le menu*/
@mixin reserv
{
    width: 60%;
    flex-wrap: wrap;
    font-family: $main-font;
    text-align: center;
}
/*mixin button*/
@mixin button
{
    width: 230px;
    height: 45px;
    border-radius: 25px;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    color: white;
    font-family: $main-font;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    box-shadow: 2px 1px 7px grey;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
/*mixin partie restaurants*/
@mixin layout
{
    width:95%;
    margin: 10px auto;
    font-family: $main-font;
}
/*mixin coeur transition*/
@mixin heart_block
{   width: 25px;
    height: 25px;
    position: absolute;
}
@mixin heart_transition
{
    display: block;
    color:transparent;
    background: linear-gradient(to right top, $secondary-color, $primary-color);
    -webkit-background-clip: text;
    background-clip:text;
    opacity: 0;
    transition: opacity, 1s ease-out 0.1s;
}
/*Footer*/
@mixin footer
{
    width: 100%;
    height: 200px;
    background-color: #353535;
    color: white;
}
@mixin footer_list
{
    list-style-type: none;
    font-family: $main-font;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;

}
@mixin footer_link
{
    color: white;
    text-decoration: none;
}
@mixin footer_title
{
    font-family: $logo-font;
    font-size: 22px;
}